/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/*
img{
  display: block;
  margin: 0 auto;
}
*/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


$container: 1250px;
$black-color: #2D272C;
$white-color: #fdfdfd;
$blue-color: #5081E8;
$grey-color: #f4f4f4;

body {
    background-color: $white-color;
    color: $black-color;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: calc(100% - 4em);
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
a,
label {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__title,
.nav__link,
label {
    font-size: 1em;
}

.nav__link {
    text-decoration: none;
    color: $black-color;
    font-weight: bold;
    margin-left: 4em;
}

form {
    position: relative;
    left: 2em;
}

.form__input {
    border: none;
    border-radius: 1em;
    height: 2.2em;
    width: 20em;
    /* padding-left: 1em; */
    padding-left: 3em;

}

.form__input_color {
    background-color: $grey-color;
}

/*spin*/
.svg__spin {
    position: relative;
    top: 0.5em;
    left: 1em;
}

.svg__background {
    stroke: $grey-color;
    stroke-width: 3;
}

.svg__filled {
    stroke: $blue-color;
    stroke-width: 3;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: anime 0.5s infinite linear;
}

@keyframes anime {
    0% {
        stroke-dashoffset: 1;
    }

    25% {
        stroke-dashoffset: 0.75;
    }

    50% {
        stroke-dashoffset: 0.5;
    }

    75% {
        stroke-dashoffset: 0.25;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

/*remove input arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form__button {
    border: none;
    cursor: pointer;
}

.form__button_find {
    position: relative;
    right: 5em;
}

.form__button_add {
    position: relative;
    top: 0.5em;
    right: 2.5em;
    transition: opacity 0.7s;
    transition-timing-function: linear;
}

.form__button_del {
    position: relative;
    top: 0.25em;
    left: 2.5em;
    transition: opacity 0.5s;
    transition-timing-function: linear;
}

.form__button_color {
    background-color: transparent;
    color: $grey-color;
}

/*Hero*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4em 0 13em 0;
}

.hero__image,
.hero--text__container {
    width: 36em;
}

.hero--text__container {
    margin-bottom: 8em;
}

.hero__title {
    font-size: 4em;
}

.hero__title> {
    b {
        color: $blue-color;
    }
}

.hero__text {
    font-size: 1.3em;
    letter-spacing: 2px;
    text-align: justify;
}

/*main*/
.main__container-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:$white-color;
    box-shadow: 0.1em 0.1em 1em #2D272C;
    border-radius: 0.5em;
    width: 36em;
    height: 14em;
    margin-bottom: 2em;
}

.section__img {
    background-color: $blue-color;
    border-radius: 0.5em;
    width: 8em;
    height: 12em;
}

.section__info {
    padding-top: 1em;
}

.info__ul {
    list-style: none;
    padding: 0;
    width: 25em;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2em;
    justify-items: start;
    row-gap: 0.2em;
}

.section__button {
    position: relative;
    left: 22em;
    border: none;
    background: none;
    cursor: pointer;
}

.svg__path {
    transition: 0.4s ease;
}

.delete__button_text {
    position: relative;
    bottom: 2.5em;
    left: 1em;
    font-size: medium;
    color: $blue-color;
}

.section__button{
    &:hover .svg__path {
        transition: 0.4s ease;
        transform: translate(-75px);
    }
}