/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/*
img{
  display: block;
  margin: 0 auto;
}
*/
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  background-color: #fdfdfd;
  color: #2D272C;
  font-family: "Roboto", sans-serif;
}

.container {
  width: calc(100% - 4em);
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
a,
label {
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
header, nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  header, nav {
    flex-direction: column;
  }
}

header {
  padding: 1em 0;
}

.nav__title,
.nav__link,
label {
  font-size: 1em;
}

.nav__link {
  text-decoration: none;
  color: #2D272C;
  font-weight: bold;
  margin-left: 4em;
}
@media screen and (max-width: 650px) {
  .nav__link {
    margin-left: 0em;
  }
}

form {
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: 2em;
}
@media screen and (max-width: 650px) {
  form {
    flex-direction: column;
    margin-top: 1em;
    position: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.form__input {
  border: none;
  width: 20em;
  height: 2.2em;
  border-radius: 1em;
  padding-left: 3em;
}

.form__input_color {
  background-color: #f4f4f4;
}

/*spin*/
.svg__spin {
  position: relative;
  top: 0.5em;
  right: unset;
  bottom: unset;
  left: 1em;
}
@media screen and (max-width: 650px) {
  .svg__spin {
    left: unset;
  }
}

.svg__background {
  stroke: #f4f4f4;
  stroke-width: 3;
}

.svg__filled {
  stroke: #5081E8;
  stroke-width: 3;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: anime 0.5s infinite linear;
}

@keyframes anime {
  0% {
    stroke-dashoffset: 1;
  }
  25% {
    stroke-dashoffset: 0.75;
  }
  50% {
    stroke-dashoffset: 0.5;
  }
  75% {
    stroke-dashoffset: 0.25;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/*remove input arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form__button {
  border: none;
  cursor: pointer;
}

.form__button_find {
  position: relative;
  top: unset;
  right: 5em;
  bottom: unset;
  left: unset;
}

.form__button_add {
  position: relative;
  top: 0.5em;
  right: 2.5em;
  bottom: unset;
  left: unset;
  transition: opacity 0.7s;
  transition-timing-function: linear;
}
@media screen and (max-width: 650px) {
  .form__button_add {
    top: -2.1em;
    left: 8.5em;
  }
}

.form__button_del {
  position: relative;
  top: 0.25em;
  right: unset;
  bottom: unset;
  left: 2.5em;
  transition: opacity 0.5s ease-out;
  transition-timing-function: linear;
}
@media screen and (max-width: 650px) {
  .form__button_del {
    top: 2em;
    left: -8.5em;
  }
}

.form__button_color {
  background-color: transparent;
  color: #f4f4f4;
}

/*Hero*/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4em 0 13em 0;
}
@media screen and (max-width: 650px) {
  .hero {
    margin: 0;
    flex-direction: column;
  }
}

.hero__image,
.hero--text__container {
  width: 36em;
}
@media screen and (max-width: 650px) {
  .hero__image,
.hero--text__container {
    width: 20em;
  }
}

.hero--text__container {
  margin-bottom: 8em;
}
@media screen and (max-width: 650px) {
  .hero--text__container {
    margin-bottom: 4em;
  }
}

.hero__title {
  font-size: 4em;
}

.hero__title > b {
  color: #5081E8;
}

.hero__text {
  font-size: 1.3em;
  letter-spacing: 2px;
  text-align: justify;
}

/*main*/
.main__container-section {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .main__container-section {
    flex-direction: column;
  }
}

.main__section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fdfdfd;
  box-shadow: 0.1em 0.1em 1em #2D272C;
  width: 36em;
  height: 14em;
  border-radius: 0.5em;
  margin-bottom: 2em;
}
@media screen and (max-width: 650px) {
  .main__section {
    flex-direction: column;
    width: 20em;
    height: 35em;
  }
}

.section__img {
  background-color: #5081E8;
  width: 8em;
  height: 12em;
  border-radius: 0.5em;
}

.section__info {
  padding-top: 1em;
}
@media screen and (max-width: 650px) {
  .section__info {
    width: 18em;
  }
}

.info__ul {
  list-style: none;
  padding: 0;
  width: 25em;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2em;
  justify-items: start;
  row-gap: 0.2em;
}
.info__ul > li {
  width: 7em;
}
@media screen and (max-width: 650px) {
  .info__ul {
    width: 18em;
    row-gap: 0.5em;
    grid-template-areas: "A A A A   A A D D   D D D D" "B B B B   B B E E   E E E E" "C C C C   C C F F   F F F F";
  }
}

@media screen and (max-width: 650px) {
  .box-1 {
    grid-area: A;
  }
  .box-2 {
    grid-area: B;
  }
  .box-3 {
    grid-area: C;
  }
  .box-4 {
    grid-area: D;
  }
  .box-5 {
    grid-area: E;
  }
  .box-6 {
    grid-area: F;
  }
}
.section__button {
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: 22em;
  border: none;
  background: none;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .section__button {
    left: 0em;
  }
}

.svg__path {
  transition: 0.4s ease;
}

.delete__button_text {
  position: relative;
  top: unset;
  right: unset;
  bottom: 2.5em;
  left: 1em;
  font-size: medium;
  color: #5081E8;
}

.section__button:hover .svg__path {
  transition: 0.4s ease;
  transform: translate(-75px);
}

/* FOOTER */
.nav-block {
  padding: 0 0 1em 0;
}

.nav-item {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
